<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <!--- = Escapes special characters, - does not escape an special characters --->
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <% if (blogs.length > 0) { %>
            <h2>All Blogs</h2>
            <% blogs.forEach(blog => { %>
                <h3>
                    <a href="/blogs/<%= blog.id %>">
                        <%= blog.title %>
                    </a>
                </h3>
                <p>
                    <%= blog.snippet %>
                </p>
            <% }) %>
        <% } else { %>
            <h2>
                No Blogs Found!
            </h2>
        <% } %>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>